# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
.venv/

# Git
.git/
.gitignore

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Media and static (якщо не потрібні в образі)
media/
static/

# Docker files
docker-compose.yml
docker-compose.prod.yml
.dockerignore

# Node/npm (якщо є фронтенд)
node_modules/
package-lock.json